

/* .container {
  padding-top: -20px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 520px;
  padding-bottom: 50px;
  

}


.table-hover{
  width: 520px;
} */
.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
.card-body {
  height: 16.5rem;
  width: 16.5rem;
  overflow: hidden;
}
.card {
    float: left;
    margin: .75rem;
    background: #ffc;
    box-shadow: .3125rem .3125rem .4375rem rgba(33, 33, 33, 0.7);
    transform: rotate(-2deg);
    border-radius: 0;
    border-width: 0;
    transition-duration: .15s;
    width: 200px;
    height: 100px;
    &:hover {
      transform: rotate(0deg);
    }
}
.notesList{
  padding-top: 25px;
}
.card-body{
  color:black;
}