	<div class="data">

  <div class="row">
		<div class="search-hero">
			<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; search the notes that you have created">
    </div>
		<div class="notesList">		
			<div *ngFor="let note of notes | filter:searchText" class="card" [ngStyle]="{'background-color': 'aliceblue'}">
				<div class="card-body">
					<div class="h4 card-title">{{note.title}}</div>
					<!-- <p class="card-text">{{note.id}}</p> -->
          					<p class="card-text">{{note.content}}</p>

				</div>
			</div>
		</div>
		</div>


	</div>
    